@model IEnumerable<PartPicker.Models.RAMModels.RAMListItem>

@{
    ViewBag.Title = "Index";
}

<h2>RAM</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAMModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Brand != "None")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RAMModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speed)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RAMID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RAMID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RAMID })
                    </td>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.RAMID })
                    </td>
                }
            </tr>
        }
    }

</table>
