@model IEnumerable<PartPicker.Models.GPUModels.GPUListItem>

@{
    ViewBag.Title = "GPUs";
}

<h2>RAM</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChipsetManufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPUModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoreClock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Brand != "None")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChipsetManufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPUModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoreClock)
                </td>
                <td>
                    @Html.ActionLink("Select", "GPUs", new { id = item.GPUID }) |
                    @Html.ActionLink("Details", "GPUDetails", new { id = item.GPUID })
                </td>
            </tr>
        }
    }

</table>
@Html.ActionLink("Back to your build", "Index")
