@model IEnumerable<PartPicker.Models.MotherboardModels.MotherboardListItem>

@{
    ViewBag.Title = "Motherboards";
}

<h2>Motherboards</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherboardFormFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Socket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAMType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Name != "None")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotherboardFormFactor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Socket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RAMType)
                </td>
                <td>
                    @Html.ActionLink("Select", "Motherboards", new { id = item.MotherboardID }) |
                    @Html.ActionLink("Details", "MotherboardDetails", new { id = item.MotherboardID })
                </td>
            </tr>
        }
    }

</table>
@Html.ActionLink("Back to your build", "Index")